# 各モジュールに書かないでrootにまとめて記載すること

# root module
*.iml
.gradle
/local.properties
/.idea
!/.idea/compiler.xml
!/.idea/gradle.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# app module
app/build
app/google-services.json

# core module
core/build

# data module
data/build

# domain module
domain/build

# feature module
feature/build